<footer class="footer">
    
</footer>
<div class="remodal" data-remodal-id="modal-callback">
    <div class="remodal__box-title">
        <div class="remodal__title title title_h3">Заказать звонок</div>
    </div>
    <div class="contact-form">
        <div class="form-complete">
            <div class="form-complete__title title title_h3">Ваше сообщение отправлено</div>
            <div class="form-complete__subtitle">
                Ма свяжемся с Вами в ближайшее время
            </div>
            <a href="#" class="form-complete__button button">Cпасибо жду звонка</a>
        </div>
        <form action="#" class="remodal__form form form-ajax">
            <div class="form__inner remodal__grid wrap d-flex">
                <div class="form__group form__group_large сol">
                    <input type="text" class="form__element" name="username" placeholder="Ваше ФИО" required>
                </div>
                <div class="form__group form__group_large сol">
                    <input type="tel" class="form__element mask" name="phone" placeholder="Ваш телефон" required>
                </div>
            </div>
            <div class="form-group col form__group_large terms-conditions">
                <label for="license2">
                    <input id="license2" type="checkbox" class="checkbox-template" checked="">
                    <span> Я прочитал(а) и принимаю условия <a href="#" class="terms-conditions__link">пользовательского соглашения</a></span>
                </label>
            </div>
            <div class="box-center">
                <button class="remodal__btn header__callback">
                    Заказать звонок
                </button>
            </div>
        </form>
    </div>
    <button data-remodal-action="close" class="remodal-close"></button>
</div>
<div class="remodal modal-form" data-remodal-id="modal-form">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>Спасибо, ваше сообщение отправлено.</h2>
    <p>Мы свяжемся с Вами в ближайшее время.</p>
</div>
</div>
<div class="arrow-up"></div>
<script src="js/main.js"></script>
</body>

</html>