/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/
/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/
/*= ../../bower_components/magnific-popup/dist/magnific-popup.css*/
/*=../../bower_components/remodal/dist/remodal-default-theme.css*/
/*=../../bower_components/remodal/dist/remodal.css*/


@import "partials/vars";
@import "partials/mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0px 0px 10px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    min-width: 320px;
    font-size: rem(14px);
    line-height: normal;
    background-color: #ffffff;
    color: $color-main;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    width: 100%;
    flex: 1;

    &__wrapper {
        background-image: url(../img/main__wrapper_back.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

a,
button {
    cursor: pointer;
    color: #333333;
    background: transparent;
    border: none;
    font-family: 'Fira Sans', sans-serif;
}

a {
    color: $color-main;
    text-decoration: underline;
    color: #ed1c24;
}

.link {
    text-decoration: none;
    color: #000;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.overflow {
    overflow: hidden;
}

.container-big {
    width: 1700px;
    margin: 0 auto;
    max-width: 100%;
}

.container {
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: $spacing;
    padding-right: $spacing;
}

.row {
    margin-left: -$spacing;
    margin-right: -$spacing;
    list-style: none;
}

.col {
    padding-left: $spacing;
    padding-right: $spacing;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.box-center {
    text-align: center;
}

input,
textarea {
    @include inputPlaceholder() {
        color: $color-main;
    }

    font-size: rem(14px);
}

.form {
    position: relative;
    z-index: 1;
}

.form__input,
.form__textarea {
    &:before {
        content: '';
    }
}

.owl-carousel {
    position: relative;
}

.owl-stage {
    display: flex;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl-nav.disabled {
    display: none;
}

.owl-dots {
    position: absolute;
    bottom: -52px;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin: 20px 0px 0px;
}

.owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.owl-dot span {
    width: 6px;
    height: 6px;
    background-color: #ed1c24;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.owl-dots .owl-dot.active {
    border: 1px solid #ed1c24;
}


h1 {
    font-size: 48px;
    margin: 15px 0px 20px;
    letter-spacing: 0.050em;
}

h2 {
    font-size: 36px;
    margin: 10px 0px 15px;
    letter-spacing: 0.050em;
}

h3 {
    font-size: 24px;
    margin: 10px 0px 15px;
}

h4 {
    font-size: 18px;
    margin: 5px 0px 10px;
}

h5 {
    font-size: 18px;
    margin: 5px 0px 10px;
}

h6 {
    font-size: 18px;
    margin: 5px 0px 10px;
}

ul,
ol {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.list {
    list-style: none;
    margin: 0px;
}

table {
    border-collapse: separate;
    border: solid $color-main 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 11px 15px;
    border: 1px solid $color-main;
}

td,
th {
    border-left: solid $color-main 1px;
    border-top: solid $color-main 1px;
}

th {
    background-color: $color-main;
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
}

.title {
    text-transform: uppercase;
    line-height: normal;

    &_h1 {
        font-size: 48px;
    }

    &_h2 {
        font-size: 36px;
    }

    &_h3 {
        font-size: 24px;
    }

    &_center {
        text-align: center;
    }

    &_color-dark {
        color: #252525;
        font-weight: 700;
    }

    &_color-white {
        color: #fff;
        font-weight: 700;
    }

    &_hidden {
        visibility: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        font-size: 0;
    }
}

.btn {
    font-size: rem(16px);
    color: #fff;
    background-color: $color-main;
    padding: 21px 43px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    transition: box-shadow .3s;

    &_disabled {
        position: relative;
        opacity: .8;
        z-index: -1;
    }

    &_icon-arrow:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/arrow_btn.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 6px;
        height: 12px;
        margin-left: 24px;
    }
}



.header {
    background-color: $color-main;
    overflow: hidden;

    &__logo {
        margin-left: 32px;
    }

    &__top {
        position: relative;
    }

    &__grid {
        margin-left: 100px;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0px 0px 32px;
    }


    &__links {
        align-items: center;
        flex: 1;
        justify-content: space-between;
        padding-right: 63px;
    }

    &__social {
        border-left: 1px solid #7a7979;
        align-items: center;
        padding: 0px 16px;
    }

    &__container {
        height: 110px;
        align-items: center;
    }

    &__menu {
        justify-content: space-between;
        width: 100%;
    }

    &__number {
        color: #fff;
        text-decoration: none;
    }
}

.header__top:before {
    content: '';
    position: absolute;
    width: 1246px;
    height: 1px;
    left: -85px;
    bottom: 0;
    background-image: url(../img/header__line.png);
    background-repeat: no-repeat;
    background-position: center;
}

.social {

    &__item {
        margin: 0px 6px;
    }

    &__link {
        display: block;

        &_icon {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 10px;
            height: 10px;

            &_telega {
                background-image: url(../img/icon-telega.png);
                width: 15px;
                height: 13px;
            }

            &_phone {
                background-image: url(../img/icon-phone-br.png);
                width: 13px;
                height: 13px;
            }

            &_whatsup {
                background-image: url(../img/icon-whatsup.png);
                width: 14px;
                height: 13px;
            }

            &_insta {
                background-image: url(../img/icon-insta.png);
                width: 14px;
                height: 15px;
            }
        }
    }

}

.callback-btn {
    background-color: #ed1c24;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    padding: 12px 20px;
    width: 170px;
    max-width: 100%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.050em;
}

.header__number:before {
    content: '';
    display: inline-block;
    vertical-align: -1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 8px;
}

.number:before {
    width: 13px;
    height: 13px;
    background-image: url(../img/icon-phone.png);
}

.number {
    letter-spacing: 0.025em;
    font-size: rem(14px);

    &__big {
        font-size: rem(16px);
    }
}

.mail:before {
    width: 15px;
    height: 11px;
    background-image: url(../img/icon-mail.png);
}


.promo {
    position: relative;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 10;
    color: #fff;

    &__item {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 590px;
        padding-bottom: 22px;
    }

    &__title {
        font-size: rem(48px);
        line-height: 1.2;
        letter-spacing: 0.050em;
        text-transform: uppercase;
    }

    &__desc {
        font-size: rem(24px);
        line-height: rem(30px);
        letter-spacing: 0.025em;
        margin: 10px 0px 0px;
    }

    &__btn {
        padding: 12px 30px;
        margin: 46px 0px 0px;
        background: linear-gradient(90deg, rgb(237, 28, 36) 0%, rgb(255, 174, 0) 100%);
        font-size: rem(14px);
        width: 270px;
        max-width: 100%;
        text-align: center;
        border-radius: 0;
        text-transform: uppercase;
        letter-spacing: 0.050em;
        font-weight: 400;
    }
}

.promo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/back-promo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.menu {

    &__item {
        text-transform: uppercase;
        letter-spacing: 0.050em;
        font-weight: 400;
    }

    &__link {
        color: #fff;
        text-decoration: none;
    }
}

.goods {
    padding: 44px 0px 60px;

    &__image {
        width: 290px;
        max-height: 420px;
        height: auto;
        object-fit: cover;
        flex: 1 0;
    }

    &__grid {
        margin-top: 50px;
    }

    &__name {
        position: relative;
        padding: 0px 0px 16px;
        margin: 0 0px 19px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.050em;
        font-size: rem(17px);
        color: #fff;
    }

    &__content {
        background-color: $color-main;
        flex: 1;
        padding: 16px;
    }

    &__property {
        font-size: rem(12px);
        line-height: 1;
        font-weight: 400;
        color: #aeaeb0;
        margin: 0;
        padding-left: 2px;
    }

    &__val {
        line-height: rem(25px);
        color: #fff;
        margin-bottom: 13px;
        padding-left: 2px;

    }

    &__col {
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
    }

}

.goods__name:after {
    content: '';
    width: 220px;
    height: 1px;
    max-width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../img/goods__line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.features {

    &__grid {
        margin: 41px 0px 0px;
    }

    &__item {
        text-align: center;
        margin-bottom: 15px;
        padding: 0px 20px;
    }

    &__image {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    &__text {
        margin: 26px 0px 0px;
        color: $color-main;
        text-transform: uppercase;
        font-size: rem(17px);
        letter-spacing: 0.050em;
        font-weight: 600;
    }
}

.work {
    padding: 88px 0px 80px;

    &__item {
        position: relative;
        margin-top: auto;
        margin-bottom: 20px;
        display: block;
        text-decoration: none;
        overflow: hidden;
    }

    &__col {
        align-items: flex-start;
    }

    &__hidden {
        padding: 0px 10px 15px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        height: 100%;
        background: linear-gradient(0deg, rgba(#000, 0.7) 30%, transparent);
        z-index: 999;
        transform: translateY(50%);
        transition: all .35s cubic-bezier(.25, .46, .45, .94);
    }

    &__content {
        margin-top: auto;
        width: 100%;
    }

    &__text {
        margin-bottom: 0;
        font-size: rem(12px);
        color: #fff;
    }

    &__name {
        font-weight: 400;
        margin: 0px 0px 10px;
        font-size: rem(14px);
        line-height: 1;
        letter-spacing: 0.050em;
        color: #ed1c24;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    &__image {
        width: 211px;
        max-width: 100%;
        height: 121px;
        object-fit: cover;
        display: block;
        border-radius: 4px;

        &_middle {
            height: 151px;
        }

        &_large {
            height: 180px;
        }

        &_big {
            height: 322px;
        }
    }
}

.services {
    padding: 41px 0px 60px;
    background-color: $color-main;
    color: #fff;

    &__grid {
        margin-top: 50px;
        justify-content: space-around;
    }

    &__name {
        position: relative;
        margin: 0px 0px 26px;
        padding: 0px 0px 23px;
        font-size: rem(17px);
        font-weight: 600;
        letter-spacing: 0.050em;
        text-transform: uppercase;
    }

    &__item {
        text-align: center;
        position: relative;
        min-height: 418px;
        height: 100%;
        padding: 27px 15px 15px;
        z-index: 12;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        z-index: -2;
    }

    &__text {
        font-size: rem(14px);
        line-height: rem(25px);
    }

    &__col {
        min-width: 250px;
        margin-bottom: 20px;
    }
}

.services__name:before {
    content: '';
    position: absolute;
    width: 269px;
    height: 1px;
    max-width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/services-line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.services__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(#000, 0.9) 30%, transparent);
    z-index: -1;
}


.reviews {
    background-color: #ebebeb;
    padding: 42px 0px 113px;

    &__carousel {
        margin: 50px 0px 0px;
    }

    &__image {
        max-width: 193px;
        height: auto;
        object-fit: cover;
    }

    &__item {
        background-color: #fff;
        color: $color-main;
        margin-bottom: 20px;
    }

    &__content {
        padding: 17px 20px 10px;
    }

    &__name {
        margin: 0px 0px 5px;
        font-size: rem(17px);
        letter-spacing: 0.050em;
        text-transform: uppercase;
    }

    &__desc {
        font-size: rem(12px);
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: #ed1c24;
    }

    &__text {
        font-weight: 400;
        line-height: rem(24px);
        margin-bottom: 0;
    }
}


.about {
    padding: 41px 0px 36px;

    &__top {
        position: relative;
        margin-top: 26px;
        margin-bottom: 23px;
        padding-left: 35px;
    }

    &__name {
        text-transform: none;
        letter-spacing: 0.025em;
        margin-bottom: 8px;
    }

    &__text {
        color: $color-main;
        line-height: rem(25px);
    }

    &__feature {
        margin: 32px 0px 0px;
    }
}

.about__top:before {
    content: '';
    position: absolute;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #ed1c24;
}


.feature {

    &__row {
        align-items: center;
        margin: 6px 0px 0px;
    }

    &__title {
        margin-bottom: 18px;
        letter-spacing: 0.025em;
        font-weight: 600;
    }

    &__text {
        line-height: rem(25px);
    }

    &__content {
        padding-right: 117px;
    }

    &__pic {
        position: relative;
        max-width: 100%;
        width: 269px;
        height: 269px;
        border-radius: 4px;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.feature__pic:before {
    content: '';
    left: -40px;
    top: -40px;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: #fde8e9;
    z-index: -1;
}

.feature__text p {
    margin-bottom: 12px;
}

.feature__row:nth-child(even) {
    flex-direction: row-reverse;
}

.feature__row:nth-child(even) .feature__content {
    padding-right: 0;
    padding-left: 117px;
}

.feature__row:nth-child(even) .feature__pic:before {
    left: auto;
    right: -40px;
}


.footer {
    padding: 53px 0px 0px;
    background-image: url(../img/footer-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;

    &__title {
        margin-bottom: 20px;
    }

    &__button {
        width: 100%;
    }

    &__center {
        background-color: rgba(#000, 0.5);
        margin: 57px 0px 0px;
    }

    &__copy {
        opacity: .30;
        margin: 0px;
    }

    &__personal {
        color: #fff;
        opacity: .30;
    }

    &__company {
        padding: 9px 0px 21px;
        filter: grayscale(100%);
    }

    &__contacts {
        min-width: 173px;
        padding-right: 15px;
    }

}

.footer-contacts {
    margin: 11px 0px 11px;

    &__name {
        font-size: rem(12px);
        margin-bottom: 7px;
        opacity: .30;
    }

    &__el {
        font-size: rem(14px);
        color: #fff;
        text-decoration: none;
        font-weight: 400;
    }

    &__number {
        font-size: rem(17px);
    }
}

.footer__center .footer__grid {
    align-items: center;
    height: 180px;
}

.footer__bottom .footer__grid {
    align-items: center;
    justify-content: space-between;
}

.form {

    &__group {
        position: relative;
        flex: 1 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 10px;

        &_large {
            flex: 1 1 100%;
            max-width: 100%;
        }


    }

    &__element {
        width: 100%;
        height: 50px;
        border-radius: 2px;
        border: none;
        padding: 0px 20px;
        color: #252525;
    }

    &__button {
        background-color: #ed1c24;
        padding: 17px 43px;
        border-radius: 4px;
        font-size: rem(14px);
        letter-spacing: 0.050em;
        text-transform: uppercase;
        font-weight: 400;
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 13px;
        height: 13px;
        z-index: 99;

        &_person {
            background-image: url(../img/man-user.png);
            width: 9px;
            height: 13px;
        }

        &_phone {
            background-image: url(../img/call-answer-form.png);
        }

        &_time {
            background-image: url(../img/clock.png);
        }
    }
}

.terms-conditions,
.terms-conditions span {
    margin-left: 10px;
    display: block;
    line-height: 15px
}

.terms-conditions {
    position: relative;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400
}

.terms-conditions__link {
    color: #fff;
    text-decoration: underline;
}

.terms-conditions span {
    text-align: left;
    color: #fff;
    cursor: pointer
}

.terms-conditions span::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background: #fdfdfd;
    border: 1px solid #e4e5e7;
    border-radius: 4px
}

.terms-conditions span::after {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #0087b7;
    line-height: 15px;
    text-align: center;
    border-radius: 4px
}

.terms-conditions input[type=checkbox] {
    opacity: 0;
    z-index: -1;
    position: absolute
}

.terms-conditions input[type=checkbox]:checked+span::after {
    font-family: FontAwesome;
    content: "✓";
    background: #f63f45;
    color: #fff
}

.form-complete {
    display: none;
}

.remodal-close {
    left: auto;
    right: 0;
}

.remodal {
    border-radius: 2px;
    background-color: rgb(212, 212, 212);
    box-shadow: 0px 9px 95.76px 37.24px rgba(0, 0, 0, 0.48);
    padding: 28px 20px 28px;

    &__title {
        font-size: rem(17px);
        letter-spacing: 0.050em;
        font-weight: 600;
        margin-bottom: 26px;
    }

    &__btn {
        padding: 14px 10px 13px;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.050em;
        background-color: #ed1c24;
        border-radius: 3px;
        color: #fff;
    }
}

.remodal__form .form__element {
    height: 43px;
    padding: 0px 30px;
}

.remodal__form .terms-conditions {
    margin-left: 0;
    margin-top: 0;
}

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 365px;
    }
}

/* select */


.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
    height: 31px;
    font-weight: 500;
    text-align: left;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #fff;
    width: 100%;
    height: 43px;
    text-align: left;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
    border-radius: 2px;
    background-color: #fff;
    color: $color-main;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #d4d4d4 transparent transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}


.select-styled.active:after,
.select-styled:active:after {
    top: 18px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-color: transparent transparent #d4d4d4
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ededed;
    list-style: none;
}

.select-options li {
    margin: 0;
    padding: 12px 30px;
    border-top: 1px solid #ededed;
    color: $color-main;
}

.select-options li:first-child {
    border-top: none
}

.select-options li:hover {
    background: #e9e9e9;
}

.select-options li[rel=hide] {
    display: none
}

/* hover */

.work__item:hover .work__hidden {
    opacity: 1;
    transform: translateY(0);
    transition: all .35s cubic-bezier(.25, .46, .45, .94);
}

.promo__btn:hover,
.promo__btn:focus,
.promo__btn:active{
    background: #ffae00;
    color: #fff;
}

.callback-btn:hover,
.form__button:hover {
    background-color: #c50c13;
    color: #fff;
}

a:hover {
    color: #c50c13;
}

a:active,
a:focus {
    color: #ffc955;
}

.hamburger {
    display: none;
    z-index: 9999;
}

.hamburger__line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hamburger.is-active {
    -webkit-transition: all .25s cubic-bezier(.25, .46, .45, .94);
    -o-transition: all .25s cubic-bezier(.25, .46, .45, .94);
    transition: all .25s cubic-bezier(.25, .46, .45, .94);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.hamburger.is-active .hamburger__line:nth-child(2) {
    width: 0
}

.hamburger.is-active .hamburger__line:nth-child(1),
.hamburger.is-active .hamburger__line:nth-child(3) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s
}

.hamburger.is-active .hamburger__line:nth-child(1) {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px)
}

.hamburger.is-active .hamburger__line:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(90deg);
    -ms-transform: translateY(-12px) rotate(90deg);
    transform: translateY(-12px) rotate(90deg)
}

.callback-btn_mobile {
    display: none;
}



@import "partials/media"