/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/
/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/
/*= ../../bower_components/magnific-popup/dist/magnific-popup.css*/
/*=../../bower_components/remodal/dist/remodal-default-theme.css*/
/*=../../bower_components/remodal/dist/remodal.css*/


@import "partials/vars";
@import "partials/mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0px 0px 10px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    min-width: 320px;
    font-size: rem(14px);
    line-height: normal;
    background-color: #ffffff;
    color: #fff;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    width: 100%;
    flex: 1;

    &__wrapper {
        background-image: url(../img/main__wrapper_back.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

a,
button {
    cursor: pointer;
    color: #333333;
    background: transparent;
    border: none;
    font-family: Montserrat, sans-serif;
}

a {
    color: $color-main;
    text-decoration: underline;
    color: #ed1c24;
}

.link {
    text-decoration: none;
    color: #000;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.overflow {
    overflow: hidden;
}

.container-big {
    width: 1700px;
    margin: 0 auto;
    max-width: 100%;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: $spacing;
    padding-right: $spacing;
}

.row {
    margin-left: -$spacing;
    margin-right: -$spacing;
    list-style: none;
}

.col {
    padding-left: $spacing;
    padding-right: $spacing;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.box-center {
    text-align: center;
}

input,
textarea {
    @include inputPlaceholder() {
        color: rgba(#000, 0.65);
    }
}

.form {
    position: relative;
    z-index: 1;
}

.form__input,
.form__textarea {
    &:before {
        content: '';
    }
}

.owl-stage {
    display: flex;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl-nav.disabled {
    display: none;
}


h1 {
    font-size: 48px;
    margin: 15px 0px 20px;
    letter-spacing: 0.050em;
}

h2 {
    font-size: 36px;
    margin: 10px 0px 15px;
    letter-spacing: 0.050em;
}

h3 {
    font-size: 24px;
    margin: 10px 0px 15px;
}

h4 {
    font-size: 18px;
    margin: 5px 0px 10px;
}

h5 {
    font-size: 18px;
    margin: 5px 0px 10px;
}

h6 {
    font-size: 18px;
    margin: 5px 0px 10px;
}

ul,
ol {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.list {
    list-style: none;
    margin: 0px;
}

table {
    border-collapse: separate;
    border: solid $color-main 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 11px 15px;
    border: 1px solid $color-main;
}

td,
th {
    border-left: solid $color-main 1px;
    border-top: solid $color-main 1px;
}

th {
    background-color: $color-main;
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
}

.title {
    text-transform: uppercase;
    line-height: normal;

    &_h1 {
        font-size: 48px;
    }

    &_h2 {
        font-size: 36px;
    }

    &_h3 {
        font-size: 24px;
    }

    &_center {
        text-align: center;
    }

    &_color-dark {
        color: #252525;
        font-weight: 700;
    }

    &_color-white {
        color: #fff;
        font-weight: 700;
    }

    &_hidden {
        visibility: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        font-size: 0;
    }
}

.btn {
    font-size: rem(16px);
    color: #fff;
    background-color: $color-main;
    padding: 21px 43px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    transition: box-shadow .3s;

    &_disabled {
        position: relative;
        opacity: .8;
        z-index: -1;
    }

    &_icon-arrow:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/arrow_btn.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 6px;
        height: 12px;
        margin-left: 24px;
    }
}

.header {
    background-color: $color-main;
    padding: 10px 0px 10px;

    &__grid {
        margin-left: 90px;
        flex: 1;
    }

    &__container {
        height: 80px;
        align-items: center;
    }

    &__menu {
        justify-content: space-between;
        width: 100%;
    }
}

.number {
    color: #fff;
    text-decoration: none;
}

.promo {
    position: relative;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 10;

    &__item {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 590px;
        padding: 10px 0px 10px;
    }

    &__title {
        font-size: rem(48px);
        line-height: rem(48px);
        letter-spacing: 0.050em;
        text-transform: uppercase;
    }

    &__desc {
        font-size: rem(24px);
        line-height: rem(30px);
        letter-spacing: 0.025em;
        margin: 16px 0px 0px;
    }

    &__btn {
        margin: 38px 0px 0px;
    }
}

.promo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/back-promo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.menu {

    &__item {
        text-transform: uppercase;
    }

    &__link {
        color: #fff;
        text-decoration: none;
    }
}

.goods {

    &__image {
        width: 290px;
        height: 388px;
        object-fit: cover;
        flex: 1 0;
    }

    &__name {
        position: relative;
        padding: 0px 0px 16px;
        margin: 0 0px 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.050em;
        font-size: rem(17px);
    }

    &__content {
        background-color: $color-main;
        flex: 1;
        padding: 15px;
    }

    &__property {
        font-size: rem(12px);
        line-height: 1;
        font-weight: 400;
        color: #aeaeb0;
        margin: 0;
    }

    &__val {
        line-height: rem(25px);
        color: #fff;
        margin-bottom: 12px;
    }

    &__col {
        margin-bottom: 20px;
    }

}

.goods__name:after {
    content: '';
    width: 220px;
    height: 1px;
    max-width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../img/goods__line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.features {

    &__grid {
        margin: 30px 0px 0px;
    }

    &__item {
        text-align: center;
    }

    &__image {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    &__text {
        margin: 19px 0px 0px;
        color: $color-main;
        text-transform: uppercase;
        font-size: rem(17px);
        letter-spacing: 0.050em;
        font-weight: 600;
    }
}

.work {
    &__hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.services {
    padding: 45px 0px 30px;
    background-color: $color-main;

    &__name {
        margin: 0px 0px 21px;
        padding: 0px 0px 23px;
        font-size: rem(17px);
        font-weight: 600;
        letter-spacing: 0.050em;
        text-transform: uppercase;
    }

    &__item {
        text-align: center;
        position: relative;
        min-height: 418px;
        height: 100%;
        padding: 27px 15px 15px;
        z-index: 12;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        z-index: -2;
    }

    &__text{
        font-size: rem(14px);
        line-height: rem(25px);
    }
}


.services__item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000 30%, transparent);
    z-index: -1;
}
