$font-roboto:'Roboto', sans-serif;

$font-openSans: 'Open Sans', sans-serif;

$font-montserrat:'Montserrat', sans-serif;

$font-myrad:'Myriad Pro';

$color-primary: #2979ff;

$color-dark: #212121;

$color-warning: #d50000;

$color-sucess: #11c339;

$color-blue: #2f8ebf;

$color-darkblue: #0b3552;

$color-main: #252525;

$box-shadow-default: 2px 2px 4px rgba(0, 0, 0, 0.1);

$spacing: 15px;

$spacing-double: ($spacing * 2);

$transtion-time: 0.5s;

